div.scrapbox-search-results {
  margin-bottom: 40px;
  padding: 15px;
  min-width: var(--rhs-width);
  max-width: var(--rhs-width);
  border: 1px solid #3c4043;
  border-radius: 8px;
  line-height: 1.5;
}

.scrapbox-search-results h2 {
  margin-top: 0;
}
